<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.Student" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="ssex" property="ssex" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, sname, ssex
  </sql>
  <select id="selectstu" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student
  </select>
</mapper>